{% load static %}

<nav class="navbar navbar-light bg-light">
  <div class="container-xxl">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/insta_logo_30px.png' %}" alt="Instagram logo">
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
    <!-- <div class="input-group">
      <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div> -->
    <div>
      <a href="/"><i class="bi bi-house-door-fill" style="font-size: 24px; color: #262626; margin-left: 22px;"></i></a>
      
      <i class="bi bi-messenger" style="font-size: 24px; color: #262626; margin-left: 22px;"></i>
      <a href="create-post/"><i class="bi bi-plus-square-fill" style="font-size: 24px; color: #262626; margin-left: 22px;"></i></a>
      <i class="bi bi-compass-fill" style="font-size: 24px; color: #262626; margin-left: 22px;"></i>
      <i class="bi bi-heart-fill" style="font-size: 24px; color: #262626; margin-left: 22px;"></i>
      
      <div class="btn-group">
        <button class="btn dropdown-toggle button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="nav-profile dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style=" margin-left: 22px;">
            <img src="{{ user.profile.profile_photo.url }}" alt="">
          </div>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#"><i class="bi bi-person-circle me-2"></i>Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="logout/">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>